<template name="AuthenticatedLayout">
    {{> sAlert template='Alert'}}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            {{> NavBarHeader}}
            {{> NavBarTopLinks}}
            {{> NavBarSideBar}}
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid" style="padding-top: 50px; padding-left: 0px; padding-right: 0px;">
                {{#if loggingIn}}
                    {{> Loading}}
                {{else}}
                    {{> Template.dynamic template=main}}
                {{/if}}
            </div>
            <!-- /.container-fluid -->
        </div>

    </div>
    <!-- /#wrapper -->

</template>
